<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>InitialShape's Blog</h1>
        {{range .Articles}}
            <article>
                <section class="main">
                    {{.HTML}}
                </section>
                <section class="meta">
                    <br>
                    <a class="read" href="{{.Path}}">Read on</a>
                </section>
            </article>
        {{end}}
        <a href="?page={{.PrevPage}}">Previous Page</a>
        <a href="?page={{.NextPage}}">Next Page</a>
    </body>
</html>
